body
{
	margin:3px  0 0 auto;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}
#wrapper
{
	margin:0px auto;
	padding:0px;
	
}
html{width:100%; height:auto; margin:0px; padding:0px;}


#header_main
{
	height:130px;
	margin-bottom:3px;
	padding:0px;
	margin:0px auto;
}

.header_top
{
	margin:0px auto;
	padding-bottom:2px;
	width:1000px;
	height:100px;
}

.logo
{
	width:217px;
	margin:0px;
	padding-top:20px;
	float:left;
}

.header1
{
	width:883px;
	margin:0px;
	padding:0px;
	float:left;
	text-align:right;
	
}
.header2
{
	float:right;
	margin-left:10px;
	padding:0px;
	
	
}

.order_text
{
	font-size:13px;
	margin:0px;
	padding:0px;
	color:#363636;
	line-height:32px;
}
.order_text b
{
	font-size:16px;
	font-weight:bold;
}
.welcome
{
	font-size:12px;
	color:#91c004;
	font-weight:bold;
	letter-spacing:1px;
	line-height:30px;
}

.product_midd_search
{
	height:35px;
	margin:0px auto;
	width:1000px;
	padding:0px;
	border-radius:8px;
	background:url(images/menu_rep.png) repeat-x top left;
}

.signin_text
{
	font-size:12px;
	color:#373737;
	text-decoration:none;
	padding-left:80px;
	margin:0px;
}
.signin_text a
{
	font-size:12px;
	color:#373737;
	text-decoration:none;
}
.manu_line
{
	margin:0 5px;
	padding:0px;
	color:#05abdf !important;
}
.search
{
	height:35px;
	margin:0px;
	padding:0px;
}

.kws_links
{
	font-size:12px;
	color:#000 !important;
	text-decoration:none;
	padding-left:5px;
	margin:0px;
}
.kws_links a
{
	font-size:12px;
	color:#000 !important;
	text-decoration:none;
}


#main
{
	margin:0px auto;
	padding:5px 0px 0 0px;
	width:1000px;
}
#main .main1
{
	margin:0px auto;
	padding:3px 0px 0 0px;
	width:700px;
	float:left;
}
.style1
{
	font-size:14px;
	color:#363636;
	font-weight:bold;

}
.style2
{
	font-size:14px;
	color:#363636;
	line-height:20px;
	margin:10px 0;
	text-align:justify;
	font-family: "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif;

}

#main .cart_main .cart 
{
	width:278px;
	padding:1px 1px 1px 1px;
	margin:5px 0px 5px 5px;
	border:#ccc solid 1px;
	border-radius:3px;
	float:right;
}
#main .right_pannel 
{
	width:280px;
	padding:3px 3px 6px 3px;
	margin:0px 0px 5px 9px;	
	float:right;
}

#main .cart_main .cart .mycart
{	background: -webkit-gradient(linear, left top, left bottom, from(#92c006), to(#92c005));
	background: -webkit-linear-gradient(#92c006, #92c005);
	background: -moz-linear-gradient(top, #92c006, #92c005);
	background: -ms-linear-gradient(#92c006, #92c005);
	background: -o-linear-gradient(#92c006, #92c005);
	background: linear-gradient(#92c006, #92c005);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92c006', endColorstr='#92c005');
zoom: 1;
	
	
	
	border-radius:2px;
	height:33px;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
	padding-left:20px;
	margin-bottom:10px;
	z-index:1px;
	
	
}
#main .cart_main .cart .mycart span
{ 
	position:relative;
	top:-22px;
	left:-10px;
	
}
#main .cart_main .cart .mycart img
{ 
	position:relative;
	top:-10px;
	left:138px;
}
.product_heading
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#7aa200;
	text-align:center;
	background:#ecebeb;
	font-weight:bold;
}

.product_item
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1a1a1a;
	text-align:center;
	height:30px;
	line-height:30px;
}
.product_item_rs
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000115;
	text-align:center;
	height:30px;
	line-height:30px;
}
.product_item_bg
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1a1a1a;
	text-align:center;
	height:30px;
	line-height:30px;
	background:#ecebeb;
}
.product_item_bg_rs
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000115;
	text-align:center;
	height:30px;
	line-height:30px;
	background:#ecebeb;
}
.product_delete
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ef1c25;
	text-align:center;
	height:30px;
	line-height:30px;
	text-decoration:none;
}
.product_delete a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ef1c25;
	text-align:center;
	height:30px;
	line-height:30px;
	text-decoration:none;
}
.product_delete_bg
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ef1c25;
	text-align:center;
	height:30px;
	line-height:30px;
	background:#ecebeb;
	text-decoration:none;
}
.product_delete_bg a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ef1c25;
	text-align:center;
	height:30px;
	line-height:30px;
	background:#ecebeb;
	text-decoration:none;
}
.product_totle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1a1a1a;
	text-align:right;
	height:30px;
	line-height:33px;
	font-weight:bold;
}
.product_totle span
{
	padding-left:10px;
}
.product_item_totle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ff6c00;
	text-align:right;
	height:20px;
	line-height:20px;
	padding-right:15px;
}
.checkout
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	background:url(images/checkout.png) no-repeat top left;
	text-decoration:none;
	padding-left:20px;
}
.checkout a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF !important;
	text-decoration:none;
}
.checkout a:hover
{
	color:#FFF;
}
.item_head
{
	background:-moz-linear-gradient(top,  #a5d4f8,  #1570a2);
	background:-webkit-linear-gradient(top,  #a5d4f8,  #1570a2);
	height:27px;
	line-height:27px;
	color:#FFF;
	padding-left:15px;
	font-size:13px;
}
.product1
{
	margin-left:2px;
	margin-bottom:10px;
 	padding:0px;
	border-top:0px;
	float:left;
	border-left:dashed #CCCCCC 1px;
	border-bottom:dashed #CCCCCC 1px;
	border-top:dashed #CCCCCC 1px;
	
}
.product1_1
{
	width:171px;
	height:320px;
	margin:0px 0px 0px 0px;
	padding:0px;
	float:left;
	/*background:url(images/bg.png) no-repeat top left;*/
	border-right:dashed #CCCCCC 1px;
}

.product_top
{
	background:url(../images/product_top.jpg) no-repeat;
	margin:0px;
	padding-top:10px;
	height:43px;
	font-family:Arial, Helvetica, sans-serif;
	color:#042a35;
	font-size:12px;
	font-weight:bold;
	text-align:center;
}
.product_midd
{
	margin:0px auto;
	padding:0;
	height:150px;
	margin-bottom:2px;
	background:url(images/discount.png) no-repeat;position:relative;

}

.kws_off
{
	position:relative;
	top:20px; 
	left:-54px; 
	text-align:center; 
	color:#FFF; 
	font-size:8px; 
	font-weight:bold;
	
}
.product_midd img
{
width:130px;
height:130px;
padding-top:0px;
margin-top:0px;
padding:0 15px;


}
.product_bottom
{
	/*background:-moz-linear-gradient(top,  #d0b5c8,  #c4a1ba);
	background:-webkit-linear-gradient(top,  #d0b5c8,  #c4a1ba);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0b5c8', endColorstr='#c4a1ba');*/
	margin:0px;
	padding:8px 3px 7px 3px;
	height:40px;
}
.item_code
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#042a35;
	margin:0px;
	padding:0px;
	text-align:center;
	font-weight:bold;
	line-height:22px;
}
.item_code h2
{
	color:#1c72a4 !important;
	font-size:13px;
	height:50px;
	
}
.item_code span  span
{
color:#f32a63 !important;
}
.add
{
	background: -webkit-gradient(linear, left top, left bottom, from(#92c005), to(#92c006));
background: -webkit-linear-gradient(#92c005, #92c006);
background: -moz-linear-gradient(top, #92c005, #92c006);
background: -ms-linear-gradient(#92c005, #92c006);
background: -o-linear-gradient(#92c005, #92c006);
background: linear-gradient(#92c005, #92c006);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92c005', endColorstr='#92c006');
zoom: 1;
	height:23px;
	margin-top:13px;
	padding:0px 4px;
	border:0px;
	-webkit-border-radius: 3px;
-khtml-border-radius: 3px;    
-moz-border-radius: 3px;
border-radius: 3px;
	font-size:11px;
	color:#FFF;
	cursor:pointer;
}
.add1
{
	background: -webkit-gradient(linear, left top, left bottom, from(#92c005), to(#92c006));
background: -webkit-linear-gradient(#92c005, #92c006);
background: -moz-linear-gradient(top, #92c005, #92c006);
background: -ms-linear-gradient(#92c005, #92c006);
background: -o-linear-gradient(#92c005, #92c006);
background: linear-gradient(#92c005, #92c006);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92c005', endColorstr='#92c006');
zoom: 1;
	height:23px;
	margin-top:13px;
	padding:0px 13px;
	border:0px;
	-webkit-border-radius: 3px;
-khtml-border-radius: 3px;    
-moz-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
	font-size:11px;
	color:#FFF;
	cursor:pointer;
}

.input
{
	width:25px; 
	height:15px; 
	padding:0px; 
	border:#000 solid 1px;
	margin:3px 3px 0 0;
	text-align:center;
}
.qty
{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#ff0000;
	font-weight:bold;
}
.cat_top
{
	height:42px;
	margin:0px;
	padding:0px;
}
.cart_left
{
	background:url(images/cart_topleft.png) no-repeat top left;
	margin:0px;
	padding:0px;
	height:42px;
	float:left;
	width:9px;
}

.add_bg
{
	background:url(images/add1.gif) no-repeat 95% 85% ,url(images/key.gif) no-repeat 43% 0%;
	margin-top:5px;
	padding:2px 2px 0 2px;
	height:240px;
	width:280px;
}

.add_safe_text
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#000000;
	line-height:20px;
	width:100px;
	float:left;
}

.add_safe_text1
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#747474;
	float:right;
	text-align:center;
	line-height:20px;
	width:150px;
	font-weight:bold;
}

.add_safe_text_rs
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#737373;
	width:180px;
}
.off img
{
	margin:0px 0px 5px 9px;
	padding:0px;
	width:280px;
	float:right;
}
.clear
{
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}

.footer
{
	margin:0px auto;
	width:1000px;
	padding:0px;
	min-height:223px;
background: -webkit-gradient(linear, left top, left bottom, from(#1570a2), to(#a5d4f8));
background: -webkit-linear-gradient(#1570a2, #a5d4f8);
background: -moz-linear-gradient(top, #1570a2, #a5d4f8);
background: -ms-linear-gradient(#1570a2, #a5d4f8);
background: -o-linear-gradient(#1570a2, #a5d4f8);
background: linear-gradient(#1570a2, #a5d4f8);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1570a2', endColorstr='#a5d4f8');
zoom: 1;
}
	.footerservices
{
	color:#FFF;
	font-size:14px;
	font-weight:normal;
	float:left;
	margin:25px 20px 0 0;
	
}
.footerservices a
{
	color:#FFF;
	text-decoration:none;
}
.footerservices a:hover
{
	color:#005974;
	text-decoration:none;
}
.footerservices ul
{
	margin:10px 0px;
	padding:0px;
}
.footerservices li
{
	list-style:none;
	width:180px;
	font-size:14px;
	color:#FFF;
	line-height:20px;
	text-align:justify;
	margin-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	
}
.footerservices li a
{
	list-style:none;
	width:143px;
	font-size:14px;
	color:#FFF;
	line-height:20px;
	text-align:justify;
	margin-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	
}

.letter
{
	width:200px; background:#5fb2d7; border:#2b7faf 1px solid; float:right; margin:25px 100px 0px 0px;}
	.copy
	{font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal; text-align:center; color:#FFF; float:left; width:970px; margin-top:15px; line-height:30px;}
	
	.kws_btn
{ background:-moz-linear-gradient(top,  #a5d4f8,  #1570a2);
	background:-webkit-linear-gradient(top,  #a5d4f8,  #1570a2);
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFF;
margin:10px 20px;
height:23px;
border:0px;
padding:5px;
cursor:pointer;	
}

.kws_inputbox
{
	border:none;
	border-radius:3px;
	border:1px solid #1570a2;	
	-moz-border-radius: 3px 0px 0px 3px;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	 -moz-box-shadow:inset 2px 2px 3px #a5d4f8;
 	-webkit-box-shadow:inset 2px 2px 3px #a5d4f8;
	 box-shadow:inset 2px 2px 3px #a5d4f8;
	height:18px;
	padding-left:5px;
	margin-top:10px;
}

.salwar
{
	/*background:url(images/left.png) no-repeat 0% 0%,
	 url(images/right.png) no-repeat 100% 0%, 
	 url(images/rep.png) repeat-x 2% 0%;*/
	height:40px;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#FFF;
	float:left;
	margin-top:5px;
	
}
.salwar1
{
	background:url(images/left_1.png) no-repeat 0% 0%,
	 url(images/right_1.png) no-repeat 100% 0%, 
	 url(images/rep_1.png) repeat-x 2% 0%;
	 	height:40px;
	width:100%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#FFF;

}
.salwar2
{
	background:url(images/left_2.png) no-repeat 0% 0%,
	 url(images/right_2.png) no-repeat 100% 0%, 
	 url(images/rep_2.png) repeat-x 2% 0%;
	 	height:40px;
	width:100%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#FFF;

}
.salwar3
{
	background:url(images/left_3.png) no-repeat 0% 0%,
	 url(images/right_3.png) no-repeat 100% 0%, 
	 url(images/rep_3.png) repeat-x 2% 0%;
	 	height:40px;
	width:100%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#FFF;

}
.salwar4
{
	background:url(images/left_4.png) no-repeat 0% 0%,
	 url(images/right_4.png) no-repeat 100% 0%, 
	 url(images/rep_4.png) repeat-x 2% 0%;
	 	height:40px;
	width:100%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#FFF;

}

.totalsalwar
{margin-left:0px;  float:left; font-size:14px; background:url(images/g_bg.png) no-repeat; width:120px; height:26px; color:#FFF; font-weight:bold; line-height:21px; font-family:Arial, Helvetica, sans-serif; padding:0px; line-height:26px;}

.totalproducts
{margin-left:0px;  float:left; font-size:14px; background:url(images/g_bg1.png) no-repeat; width:180px; height:26px; color:#FFF; font-weight:bold; line-height:21px; font-family:Arial, Helvetica, sans-serif; padding:0px; line-height:26px;}

.catalog
{
	padding-top:30px;
}

.viewmore
{float:right; margin-right:0px; margin:0px; background:url(images/view.png) no-repeat; 
 width:87px; height:21px; color:#FFF; font-size:11px; font-weight:bold; line-height:21px; 
 font-family:Arial, Helvetica, sans-serif; padding-right:10px;}
.viewmore a
{
	color:#FFF !important;
	text-decoration:none;
	text-align:center;
}
.viewmore a:hover
{
	color:#FFF;
	text-decoration:none;
}
.gridview
{float:right; margin-right:0px; margin:0px; background:url(images/view1.png) no-repeat; width:87px; height:21px; color:#FFF; font-size:12px; line-height:20px; font-family:Arial, Helvetica, sans-serif; padding-left:7px;}
.gridview a
{
	color:#FFF !important;
	text-decoration:none;
}
.gridview a:hover
{
	color:#FFF;
	text-decoration:none;
}
.listview
{float:right; margin-right:0px; margin:0px; background:url(images/view2.png) no-repeat; width:87px; height:21px; color:#FFF; font-size:12px; line-height:20px; font-family:Arial, Helvetica, sans-serif; padding-left:7px;}
.listview a
{
	color:#FFF !important;
	text-decoration:none;
}
.listview a:hover
{
	color:#FFF;
	text-decoration:none;
}

.WebRupee
{
	color:#000 !important;
}



.pagination{
padding: 2px 2px 2px 100px;
margin:10px 0;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
font-size: 14px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
margin:0 2px;
}

.pagination a, .pagination a:visited{
padding: 0 3px;
border: 1px solid #9aafe5;
text-decoration: none; 
color: #2e6ab1;
}

.pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
color: #FFF;
background-color: #92c005;

}

.pagination a.currentpage{
background-color: #92c005;
color: #FFF !important;
border-color: #2b66a5;
font-weight: bold;
cursor: default;

}

.pagination a.disablelink, .pagination a.disablelink:hover
{
	background-color: white;
	cursor: default;
	color: #929292;
	border-color: #929292;
	font-weight: normal !important;
}

.pagination a.prevnext
{
	font-weight: bold;
}

.product_bg
{
	background:url(images/bg_bg.png) no-repeat top left;
	width:697px;
	height:187px;
	margin:2px 0 10px 0;
	padding:0px;
}

.product_top_div
{
	width:697px;
	height:53px;
	margin-bottom:10px;
	padding:0px;
}
.product_bottom_div
{
	width:697px;
	height:125px;
	margin:0px;
	padding:0px;
}
.product_coad
{
	width:105px;
	height:36px;
	margin:0px;
	padding-top:20px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#ef1c25;
	font-weight:bold;
	float:left;
}
.product_name_main
{
	width:580px;
	height:56px;
	margin:0px;
	padding:0px;
	float:right;
}
.product_name1
{
	height:29px;
	margin:0px;
	padding-top:2px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:30px;
	color:#00aade;
	font-weight:bold;
	
}
.product_name1
{
	height:29px;
	margin:0px;
	padding-top:2px;
	
	
}
.product_img
{
	width:96px;
	height:110px;
	margin:0px;
	padding:10px 5px 0 7px;
	float:left;
}
.product_cost
{
	width:430px;
	height:120px;
	float:left;
	margin:0px;
	padding:0px;
}
.product_cost1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#262b2d;
	text-align:right;
	padding-right:10px;
}
.product_apply
{
	width:155px;
	height:120px;
	margin:0px;
	padding:0px;
	float:right;
	
}
.product_rs
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ef1c25;
	font-weight:bold;
}
.product_off
{
	margin-left:20px;
	padding-top:18px;
	background: url(images/off.png) no-repeat top left;
	width:50px;
	height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#c40745;
	font-weight:bold;
	text-align:center;
}
.product_rs1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#00aade;
	font-weight:bold;
}
.quantity_text
{
	font-family:Arial, Helvetica, sans-serifl;
	font-size:12px;
	color:#000115;
	line-height:30px;
	text-align:center;
	height:30px;
	padding-top:20px;
	font-weight:bold;
	
}
.addtocart
{
	
	background:url(images/checkout.png) no-repeat top left;
	text-decoration:none;
	font-weight:bold;
	margin-left:30px;
	padding:0px;
	
}
.addtocart_text
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF !important;
	text-decoration:none;
	line-height:23px;
	padding-left:5px;
	margin:0px;
	
}
.addtocart_text a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF !important;
	text-decoration:none;
	line-height:23px;
	margin:0px;
	padding-left:5px;
	
}

.product1_kws
{
	width:171px;
	height:185px;
	margin:0px 0px 0px 0px;
	padding:0px;
	float:left;
	/*background:url(images/bg.png) no-repeat top left;*/
	border-right:dashed #CCCCCC 1px;
}

.product1_kws h2
{
	color:#1c72a4 !important;
	font-size:13px;
	text-align:center;
	
}
.contact_main
{
	margin:10px;
}


.about 
{
	line-height:20px; 
	font-family:"Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; 
	font-size:16px;
	color:#363636;
	margin-right:20px;
}
.fedback
{
	border:#999999 solid 1px;
	margin:0px;
	padding:0px;
	border-radius:5px;
	box-shadow: 6px 6px 3px #888888;
	background:#ecebeb;
}
.fedback_style
{
		line-height:20px; 
	font-family:"Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; 
	font-size: 16px;
	color:#1d1d1d;
	text-align:right;
	padding-right:10px;
	height:40px;
	line-height:40px;
}
.fedback_text{
    border: 3px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding:5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
.input_style
{
	width:40px;
	height:20px;
}
<!--banner flash start-->
#ja-mainbody {
	width: 700px;
	float: right;
	clear: both;
}

.narrow #ja-mainbody {
	width: 672px;
}

#ja-content {
	padding: 15px;
	position: relative;
	border-bottom: 1px solid #E6E6E6;
}


#ja-topsl1 {
	position: relative;
	height: 285px;
	margin-left: 1px;
	border-bottom: 1px solid #E6E6E6;
}

#content_slider{float:left;outline:0;width:700px; height:285px;}

<!--banner flash end-->

/* cssstyle 9/21/2013 */
.right_pannel
{
	float:right;
	width:280px;
	border:2px solid #00ffff;
	
}


