﻿.samrtprize {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 5px; COLOR: #0681f4; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.samrtprize5 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #0681f4; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.samrtprize2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 5px; COLOR: #217002; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.zixe {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #333333; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.zixeleftpadding {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #333333; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.zixe4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; COLOR: #333333; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.zixegreen {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #217002; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.zixegreen2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #7aa200; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.zixegreen3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; COLOR: #7aa200; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodytext {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #333333; LINE-HEIGHT: 19px; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.red {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.green {
	FONT-SIZE: 12px; COLOR: #387800; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.curved-box-css3 {
	MARGIN: 10px; BACKGROUND-COLOR: #91c004; webkit-border-radius: 10px; moz-border-radius: 10px; border-radius: 10px
}
.all-four-rounded-corners {
	BACKGROUND-COLOR: #91c004; webkit-border-radius: 10px; moz-border-radius: 10px; border-radius: 10px; khtml-border-radius: 10px
}
.2border {
	BORDER-RIGHT: #eeeeee 2px dotted; BORDER-TOP: #eeeeee 2px dotted; BORDER-LEFT: #eeeeee 2px dotted; BORDER-BOTTOM: #eeeeee 2px dotted
}
.products2 {
	FONT-SIZE: 10px; COLOR: #4c8c00; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.border-left-right-bg {
	BORDER-RIGHT: #ececec 1px solid; BORDER-LEFT: #ececec 1px solid
}
.border-bottom2 {
	BORDER-BOTTOM: #ececec 1px dashed
}
.border-bottom3 {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ececec 1px solid
}
.roundedcorners {
	BORDER-RIGHT: #ececec 1px solid; BORDER-TOP: #ececec 1px solid; BORDER-LEFT: #ececec 1px solid; BORDER-BOTTOM: #ececec 1px solid; border-top-right-radius: 5px; border-top-left-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px
}
.balck {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.rectangleborder {
	BORDER-RIGHT: #ececec 1px solid; BORDER-TOP: #ececec 1px solid; BORDER-LEFT: #ececec 1px solid; BORDER-BOTTOM: #ececec 1px solid
}
.orange2 {
	PADDING-LEFT: 10px; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #ff6c00; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}