/* CSS Document */

html, body, form, fieldset {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	color: #000000;
	font-family: "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif;
	line-height: 1.6;
}

body#bd {
	color: #666666;
	background: #E6E6E6;
	margin: 30px 0;
}
 	
body.fs2 {font-size: 11px;}


#ja-wrapper 
{
	background: #FFFFFF;
	width: 952px;
	margin: 0 auto;
	clear: both;
}

.narrow #ja-wrapper {
	width: 752px;
}

#ja-wrapper-inner {
	border: 1px solid #E6E6E6;
}

#ja-container {
	position: relative;
}
