﻿
.Header
{
	background-color: #015FA1;
	color: #FFFFFF;
	font-size: larger;
	width: 100%;
	height: 70px;
	vertical-align: middle;
	text-align: center;
}
.Tabs
{
	background-color: #C4C3C2;
	color: #FFFFFF;
	width: 100%;
	height: 20px;
	vertical-align: middle;
	text-align: center;
}
.Tabs a
{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
.Tabs a:hover
{
	color: Gray;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}
.Content
{
	border: solid 1px #C4C3C2;
	width: 100%;
	text-align: center;
	font-size: 14px;
}
.Footer
{
	background-color: #C4C3C2;
	color: #FFFFFF;
	width: 100%;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
}

#lblMessage
{
	color: Red;
}

.divgrid
{
	overflow: auto;
	width: 100%;
}

.divgrid table
{
	border-collapse: collapse;
}


.divgrid table td
{
	border: 1px solid #C4C3C2;
	padding: 2px 2px 2px 2px;
}


.divgrid table th
{
	border: 1px solid #C4C3C2;
	padding: 2px 2px 2px 2px;
	text-align: center;
	background-color: #C4C3C2;
	color: #fff;
}

.dbookheader
{
	position: relative;
	top: expression(this.parentNode.parentNode.parentNode.scrollTop-1);
}

.divgrid table tr.alt td
{
	color: #000;
	background-color: #EAF2D3;
}
.Navigation
{
	background-color: #C4C3C2;
	color: #FFFFFF;
	height: 20px;
	font-weight: bold;
}
.DBENav
{
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
}
.DBENav:hover
{
	text-decoration: underline;
	color: Gray;
	cursor: pointer;
}

.DBENavClick
{
	text-decoration: none;
	color: #015FA1;
	cursor: text;
}
.DBENavClick:hover
{
	cursor: text;
}
.HiddenDiv
{
	border: 1px solid #D5CB75;
	height: 18px;
}

.gridNavButtons
{
	color: Blue;
}

.button
{
}

.hidbutton
{
	display: none;
}

/*.grid
{
	width: 95%;
	border-collapse: collapse;
}*/

.grid td, .grid th
{
	border: 1px solid #98bf21;
	padding: 3px 7px 2px 7px;
}

.grid th
{
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #A7C942;
	color: #fff;
}

.grid tr.alt td
{
	color: #000;
	background-color: #EAF2D3;
}
.grid1
{
	color: #000;
	background-color: #EAF2D3;
}
.gridNavButtons
{
	color: Blue;
}
.hidendStyle
{
	color: Transparent;
	font-size: 0px;
}
.divautocomplete
{	
	border-bottom: solid 1px black;
	border-right: solid 1px black;
	border-left: solid 1px black;
	position: absolute;
	z-index: 1001;
	background-color: White;
}
.selectedrow
{
	background-color: #015FA1;
	color: White;
	cursor:pointer;
}
.unselectedrow
{
	cursor:pointer;
}

.divbg
{
	background-image: url('Imgs/divnewbg.png' );
	background-repeat: no-repeat;
	height: 275px;
	width: 190px;
	overflow: hidden;
}

.divbg1
{
	background-image: url('Imgs/divnewbg1.png' );
	background-repeat: no-repeat;
	height: 476;
	width: 463;
	overflow: hidden;
}

.img
{
	height: 160px;
	width: 160px;
}
.groupheading
{
	color: Green;
	font-family: impact;
	font-size: 14px;
}
.horizantalline
{
	position: relative;
	height: 1px;
	background-color: #E7E7E7;
	width: 95%;
}
.divProductDesc
{
	height: 100px;	
	overflow: hidden;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;
	color:#666666;
}
.divProductInnerDesc
{
	width: 100%;
	height: 35px;
	overflow: hidden;
	text-align: left;
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;
	color:#666666;
}
.marquee
{
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
	color: Blue;
}
.WaterMark
{
	color:Silver;
}
