﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RegistrationConfirm.aspx.cs" Inherits="MyAccounts20.RegistrationConfirm" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <script language="javascript" type="text/javascript">
        var preid='';
        function confirm(YourID)
        {
          alert("Your Successfully Registered. YourId :"+YourID);
          window.parent.location.href= "/Home.aspx";
          
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">    
    </form>        
</body>
</html>
