/* CSS Document */
body{margin:0px; padding:0px;}
img{border:0px; margin:0px; padding:0px}
h1, h2, h3, h4, h5, h6, ul, li{ margin:0px; padding:0px;}
a{margin:0px; padding:0xp; text-decoration:none}
h2{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;}



#wrapper{
width:996px;
margin:0px auto;
padding:0px;
background:#FFF}

/****************Header Styles****************************/
#header{width:996px;
height:120px;
float:left;
/*background:#cccccc;*/
}
.logo{ width:185px; height:81px; float:left; margin:20px 0 0 0;}
.top_banner{ /*width:811px; height:107px;*/ float:left; width:760px; height:90px; margin:17px 0 0 35px; border:1px solid #ccc; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px}

#navigation{ width:996px; height:37px; float:left; margin:5px 0 0 0;}
.nav_left{ background:url(Imgs/nav_left.gif) top left no-repeat; width:11px; height:38px; float:left;}
.nav{background:url(Imgs/nav.gif) top left; width:954px; height:38px; float:left; padding:0 0 0 20px}
.nav ul li{ float:left; margin:0 5px; padding:2px 0; font-family:Verdana; font-size:12px; color:#008000; font-weight:bold; list-style:none;}
.nav ul li a{ float:left; margin:9px 0px; padding:0 15px 0 0px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#008000; font-weight:bold; list-style:none; background:url(Imgs/gap_img.gif) right center no-repeat  }
.nav ul li a:hover{ color:#000000;  }


.nav_right{background:url(Imgs/nav_right.gif) top left no-repeat; width:11px; height:38px; float:right;}
#container{ width:996px; float:left; height:200px;}
.left_navi{width:198px; float:left;}
.prod_head{ height:35px; padding-top:12px; padding-left:43px; width:155px; float:left; background:url(Imgs/prod_head.gif) left top no-repeat;}
.prod_list{width:178px; margin:0px 0 0 20px; width:175px; *margin:0px 0 0 10px;  background:#fff; float:left;  padding:0px;}
.prod_list ul li{ float:left; margin:0px; padding:0px; list-style:none; line-height:18px; }
.prod_list ul li a{float:left; margin:opx 5px; padding:5px 0px; color:#666666; width:150px; list-style:none; line-height:18px; background:url(Imgs/li_img1.gif) bottom left repeat-x; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
.prod_list ul li a:hover{color:#000}
.page_content{float:left; background:#999999; width:798px;}
.slideshow{background:url(Imgs/slideshow.gif) left top; width:795px; height:402px; float:left}
.slideshow_bottom{width:795px; height:402px; float:left; background:#F7F5F4}


.products_section{width:210px; float:left; height:360px;}
.box1{ width:188px; height:110px; float:left; margin:8px 0px 8px 10px; border:1px solid #CCCCCC; background:#fff;
 -moz-border-radius:10px; -moz-box-shadow: 0 0 1em #ccc; -webkit-box-shadow: 0 0 1em #ccc; box-shadow: 0 0 1em #ccc; }
.box2{ width:188px; height:100px; float:left; margin:8px 0px 8px 10px; border:1px solid #CCCCCC; background:#fff;
 -moz-border-radius:10px; -moz-box-shadow: 0 0 1em #ccc; -webkit-box-shadow: 0 0 1em #ccc; box-shadow: 0 0 1em #ccc; }
.products_pricing{width:330px; float:left; height:360px; margin:5px; border:4px solid #fff; background:#fff;
-moz-border-radius:10px; -moz-box-shadow: 0 0 1em #ccc; -webkit-box-shadow: 0 0 1em #ccc; box-shadow: 0 0 1em #ccc; }
.products_details{width:200px; float:left; height:360px; margin:5px; border:4px solid #fff;}



#footer{width:996px; float:left; height:40px; background:#F7F5F4; margin:0px; padding:0px}




