﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UploadImage.aspx.cs" Inherits="MyAccounts20.UploadImage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Untitled Page</title>

    <script type="text/javascript" language="javascript">
//    function submit()
//    {
//    document.form2.submit();
//    }
     function GetFileName(val)
     {
       var i = val.lastIndexOf("\\");
        return val.substring(i+1);
       
     }
     function submitform()
     {
        //window.form2.submit();
        document.forms[0].submit();
     }
     
    </script>

</head>
<body style="margin: 0px 0px 0px 0px;">
    <form id="form2" runat="server">
    <asp:FileUpload ID="FileUpload1" Width="190px" runat="server" onchange="submitform();" />
    <input type="hidden" runat="server" id="hidAlbumID" />
    </form>
</body>
</html>
