 


/* COMMON STYLE
--------------------------------------------------------- */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	color: #000000;
	font-family: "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif;
	line-height: 1.6;
}

body#bd {
	color: #666666;
	background: #E6E6E6;
	margin: 10px 0;
}

body.contentpane {
	color: #000000;
	font-size: 12px;
	line-height: 1.3em;
	margin: 0;
	margin: 1em 2em;
	width: auto; /* Printable Page */
}

body.fs1 {font-size: 10px;}
body.fs2 {font-size: 11px;}
body.fs3 {font-size: 12px;}
body.fs4 {font-size: 13px;}
body.fs5 {font-size: 14px;}
body.fs6 {font-size: 15px;}

/* Normal link */
a {
	color: #011319;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #00A9DD;
	text-decoration: underline;
}

a img {
	border: none;
}

/* Title text */
.contentheading, .componentheading, .blog_more strong, h1, h2, h3, h4 {
	line-height: normal;
}	

.contentheading, .componentheading {
}	

/* Small text */
small, .small, .smalldark, .img_caption, a.readon, #ja-footer {
	font-size: 92%;
}

small, .small, .smalldark, .createby, .createdate, .modifydate, .img_caption p, p.site-slogan {
	color: #999999;
}

img {
	margin: 0;
	padding: 0;
}

/* Heading */
h1 {font-size: 200%;}
h2 {font-size: 175%;}
h3 {font-size: 150%;}
h4 {font-size: 125%;}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 1em 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

ul li { 
	line-height: 130%;
	padding-left: 3px;
}

ol li {
	line-height: 180%;
	margin-left: 35px;
}

th {
	font-weight: bold;
	padding: 8px;
	text-align: left;
}

fieldset {
	border: none;
	padding: 10px 5px;
	background: url(images/dot-h.gif) repeat-x top;
}

fieldset a {
	font-weight: bold;
}

fieldset.input {
	padding: 0;
	background: none;
}

hr {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #E6E6E6;
	height: 1px;
}

br {
	height: 1px;
	font-size: 1px;
}

td, div {
	font-size: 100%;
}

/* FORM
--------------------------------------------------------- */
form {
	margin: 0;
	padding: 0;
}

form label {
	cursor: pointer;
}

input, select, textarea, .inputbox, .button {
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 100%;
	color: #666666;
}

.inputbox {
	padding: 2px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
}

.inputbox:hover, .inputbox:focus {
	border: 1px solid #999999;
	background: #FFFFCC;
}

.button {
	padding: 2px 8px;
	border: 1px solid #00A9DD;
	background: #00A9DD;
	font-weight: bold;
	color: #FFFFFF;
}

* html .button { /*IE 6*/
	padding: 0 5px !important;
}

*+html .button { /*IE 7*/
	padding: 0 5px !important;
}

 
--------------------------------------------------------- */
.article_separator {
	clear: both;
	display: block;
	height: 30px;
	margin: 0;
	background: url(../images/dot-h.gif) repeat-x center;
}

.column_separator {
	padding: 0 25px;
}

/* content tables */
.sectiontableheader {
	background: #333333;
	padding: 8px;
	color: #FFFFFF;
	font-weight: bold;
}

.sectiontableheader a,
.sectiontableheader a:hover,
.sectiontableheader a:active,
.sectiontableheader a:focus {
	color: #FFFFFF;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	padding: 8px;
	background: url(../images/dot-h.gif) repeat-x bottom;
}

tr.sectiontableentry0:hover,
tr.sectiontableentry1:hover,
tr.sectiontableentry2:hover {
}

table.contentpane {
	border: none;
	width: 100%;
}

table.contentpaneopen {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

table.contenttoc {
	margin: 0 0 10px 10px;
	padding: 0;
	width: 30%;
	float: right;
}

table.contenttoc td {
	background: url(../images/bullet.gif) no-repeat 12px 8px;
	padding: 1px 5px 1px 20px;
}

table.contenttoc th {
	border-bottom: 1px solid #CCCCCC;
	padding: 0 0 3px;
	text-indent: 5px;
}

table.poll {
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}

table.pollstableborder {
	border: none;
	padding: 0;
	text-align: left;
	width: 100%;
}

table.pollstableborder img {
	vertical-align: baseline;
}

table.pollstableborder td {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 4px !important;
	background: none;
}

table.pollstableborder tr.sectiontableentry1 td {
	background: #F7F7F7;
}

table.searchintro {
	padding: 10px 0;
	width: 100%;
}

table.searchintro td {
	padding: 5px!important;
}

.blog_more {
	margin: 15px 0 0;
	padding: 10px 0 0;
	background: url(../images/dot-h.gif) repeat-x top;
}

.blog_more strong {
	display: block;
	margin: 0 0 5px;
	text-transform: uppercase;
}

.blog_more ul {
	margin: 0;
	padding: 0;
}

.blog_more ul li {
	background: url(../images/bullet.gif) no-repeat 4px 8px;
	margin: 0;
	padding: 0 0 0 12px;
}

.category {
	font-weight: bold;
	text-transform: uppercase;
}

h1.componentheading, .componentheading {
	margin: 0 0 10px;
	padding: 0 0 10px;
	font-size: 175%;
}

.componentheading {
	font-size: 100%;
	background: url(../images/dot.gif) repeat-x bottom;
	text-transform: uppercase;
	color: #666666;
}

.contentdescription {
	padding-bottom: 30px;
}

h2.contentheading, .contentheading {
	margin: 0;
	padding: 0 0 5px;
	font-size: 200%;
}

table.blog .contentheading {
	font-size: 175%;
}

a.contentpagetitle,
a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
}

a.readon {
	text-align: center;
	text-decoration: none;
	color: #666666;
	text-transform: uppercase;
	font-weight: bold;
	background: url(../images/arrow-readon-1.png)  no-repeat left 2px  ;
	padding-left: 12px;
}

a.readon:hover, a.readon:focus, a.readon:active {
	background: url(../images/arrow-readon-2.png) no-repeat left 2px  ;
}

table.contentpaneopen td, table.contentpane td {
}

table.contentpaneopen, table.contentpane, table.blog {
	width: 100%;
}

.moduletable {
	padding: 0;
}

ul.pagination {
	margin: 15px auto 0;
	padding: 10px 0 0;
	background: url(../images/dot-h.gif) repeat-x top;
}

ul.pagination li {
	background: none;
	display: inline;
	margin: 0;
	padding: 0;
}

ul.pagination li span{
	padding: 2px 5px;
}

ul.pagination a {
	padding: 2px 3px;
	text-decoration: none;
	background: #666666;
	color: #FFFFFF;
}

ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {
	background: #00A9DD;
	color: #FFFFFF;
}

.pagenavbar {
	background: url(../images/icon-pages.gif) no-repeat center left;
	font-weight: bold;
	padding-left: 14px;
}

.pagenavcounter {
	background: url(../images/icon-pages.gif) no-repeat 0 11px;
	font-weight: bold;
	padding: 8px 14px 0 14px;
}

.smalldark {
	text-align: left;
}

div.syndicate div {
	text-align: center;
}

.pollstableborder tr.sectiontableentry1 td,
.pollstableborder tr.sectiontableentry2 td {
	background: none;
}

ul.latestnews a, ul.mostread a {
	color: #666666;
}

/* META
--------------------------------------------------------- */
.article-toolswrap {
	display: block;
	margin: 0 0 10px;
	padding: 0;
	text-transform: uppercase;
	font-size: 92%;
	position: relative;
}

.article-tools {
	display: block;
	padding: 0 10px 0 0;
	white-space: nowrap;
}

.article-meta {
	width: 70%;
	float: left;
}

.createby {
	padding: 0 5px 0;
	background: #666666;
	color: #FFFFFF;
}

.createdate {
	padding: 0 5px 0 0;
}

.modifydate {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

div.buttonheading {
	position: absolute;
	top: 0;
	right: 10px;
}

.buttonheading img {
	margin: 0 0 0 5px;
	border: 0;
	float: right;
}

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#ja-wrapper {
	width: 1024px;
	margin: 0 auto;
	clear: both;
}

.narrow #ja-wrapper {
	width: 824px;
}

#ja-wrapper-inner {
	border: 1px solid #E6E6E6;
}

#ja-container {
	position: relative;
}


/* PRIMARY COLUMN
--------------------------------------------------------- */
#ja-mainbody {
	width: 832px;
	float: right;
	clear: both; 
}

.narrow #ja-mainbody {
	width: 672px;
}

#ja-content {
	padding: 15px;
	position: relative;
	border-bottom: 1px solid #E6E6E6;
}

/* COLUMNS
--------------------------------------------------------- */
#ja-col {
	float: left;
	overflow: hidden;
	width: 194px;
}

.narrow #ja-col {
	width: 150px;
}

/*common style for column*/
#ja-col table {
	border-collapse: collapse;
	border-spacing: 0;
}

#ja-col .article_separator {
	display: none;
}

/* COLLAPSIBLE LAYOUT
--------------------------------------------------------- */
#ja-containerwrap,
#ja-containerwrap-f {
	padding: 0;
	margin: 0;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #E6E6E6;
}

#ja-containerwrap {
	background: url(../images/dot.gif) repeat-y 190px 0 #FFFFFF;
}

.narrow #ja-containerwrap {
	background: url(../images/dot.gif) repeat-y 150px 0 #FFFFFF;
}

/*full*/
#ja-containerwrap-f {
	background: #FFFFFF;
}

#ja-containerwrap-f #ja-mainbody {
	width: 100%;
}

/* MODULE
--------------------------------------------------------- */
div.moduletable h3,
div.moduletable_menu h3,
div.moduletable_text h3,
div.moduletable_hilite h3,
div.moduletable_menuhilite h3 {
	font-size: 100%;
	margin: 0 -15px 5px -16px;
	padding: 10px 15px;
	border-bottom: 1px solid #E6E6E6;
	text-transform: uppercase;
	background: url(../images/dot-hilite.gif) repeat-y left #F7F7F7;
	
}
 
div.moduletable_hilite h3 span {
	padding-left:15px;	 
	color: #00A9DD;
	
}

div.moduletable,
div.moduletable_menu,
div.moduletable_text,
div.moduletable_menuhilite,
div.moduletable_hilite1 {
	margin: 0;
	padding: 0 15px 10px;
	border-bottom: 1px solid #E6E6E6;
}

div.moduletable_menu h3,
div.moduletable_menuhilite h3 {
	margin-bottom: 0;
	border-bottom: none;
}

div.moduletable_menu,
div.moduletable_menuhilite {
	padding: 0 1px;
}

div.moduletable_menuhilite h3 {
	background: #00A9DD;
	color: #FFFFFF;
}

/* mis */
div.banneritem_text {
	padding: 5px 0 !important;
}

div.advs {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

div.moduletable ul {
	list-style: none;
}

div.moduletable li {
	background: url(../images/bullet.gif) no-repeat 3px 8px;
	line-height: 160%;
	padding-left: 12px;
}

/* HEADER
--------------------------------------------------------- */
#ja-headerwrap {
	height: 100px;
	background: url(../images/main-tr.gif) no-repeat top right #FFFFFF;
}

#ja-header {
	height: 100px;
	line-height: normal;
	position: relative;
	background: url(../images/main-tl.gif) no-repeat top left;
}

.cart  {
	width: 180px;
	display: block;
	background:url(cart.jpg) no-repeat;
	position: absolute;
	height: 100px;
	float:right;
	left: 863px;
	top: 1px;
}


h1.logo, h1.logo-text {
	margin: 0;
	padding: 0;
	font-size: 200%;
}

h1.logo a {
	width: 180px;
	display: block;
	background: url(../images/logo.jpg) no-repeat;
	position: absolute;
	height: 100px;
	top: 0;
	left: 10px;
}

h1.logo a:hover, h1.logo a:active, h1.logo a:focus {
}

h1.logo a span {
	position: absolute;
	top: -1000px;
}

h1.logo-text a {
	text-decoration: none;
	outline: none;
	position: absolute;
	top: 25px;
	left: 20px;
	text-transform: uppercase;
}

h1.logo-text a:hover, logo-text a:active, logo-text a:focus {
}

p.site-slogan {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 55px;
	left: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#ja-vmcurrency {
	width: 300px;
	position: absolute;
	top: 20px;
	right: 230px;
	height: 65px;
	border-right: 1px solid #E6E6E6;
}

#ja-vmcurrency div.moduletable {
	padding: 15px 0 0 15px;
	border: none;
}

#ja-vmcurrency div.moduletable h3 {
	background: none;
	border: none;
	margin: 0 0 10px;
	padding: 0;
}

/* MAIN NAVIGATION
--------------------------------------------------------- */
#ja-mainnavwrap {
	background: #333333;
	border-top: 1px solid #E6E6E6;
	height: 35px;
	z-index: 999;
}

#ja-mainnav {
	height: 35px;
	width: 832px;
	float: right;
	background: url(../images/dot-dark.gif) repeat-y left;
}

.narrow #ja-mainnav {
	width: 600px;
}

#ja-mainnav a, #ja-subnav a {
	outline: none;
}

#ja-subnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#ja-subnav li {
	background: none;
	margin: 0;
	padding: 1px 0;
}

#ja-subnav a {
	display: block;
	outline: none;
	padding: 4px 2px 4px 14px;
	text-decoration: none;
	background: url(../images/bullet.gif) no-repeat 3px 10px;
}

#ja-subnav a:hover,
#ja-subnav a:active,
#ja-subnav a:focus {
}

#ja-subnav li.active a {
}

/* breadcrumbs */
#ja-pathway {
	padding: 10px 15px;
	margin-left: 1px;
	text-transform: uppercase;
	background: #F7F7F7;
	border-bottom: 1px solid #E6E6E6;
	line-height: normal;
}

#ja-pathway strong {
	margin-right: 5px;
	color: #00A9DD;
}

#ja-pathway a {
	text-decoration: none;
}

#ja-pathway a:hover {
	text-decoration: underline;
}

#ja-pathway img {
	margin: 1px 5px;
}
 
ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

ul.menu li {
	display: block;
	background: none;
	margin: 0;
	padding: 0;
	line-height: normal;
}

ul.menu li a {
	display: block;
	outline: none;
	padding: 8px 15px 9px;
	margin: 0 -15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #666666;
	border-top: 1px solid #E6E6E6;
	background: url(../images/arrow.png) no-repeat 92% 14px  ;
}

* html ul.menu li a {
	padding: 7px 15px 8px;
	width: 190px;
}

* html .narrow ul.menu li a {
	padding: 7px 15px 8px;
	width: 150px;
}

*+html ul.menu li a {
	padding: 7px 15px 8px;
}

ul.menu li a:hover,
ul.menu li a:active,
ul.menu li a:focus {
	background: url(../images/arrow.png) no-repeat 92% 14px #F7F7F7  ;
	text-decoration: none;
}

ul.menu li.active a {
	background: url(../images/arrow.png) no-repeat 92% 14px #FFFFCC  ;
	font-weight: bold;
}

ul.menu li ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #FFFFCC;
}

ul.menu li li {
	border: none;
}

ul.menu li li a {
	background: url(../images/bullet.gif) no-repeat 18px 14px #FFFFCC !important;
	border: none;
	padding-left: 26px !important;
	text-transform: none;
	font-weight: normal !important;
}

ul.menu li li a:hover,
ul.menu li li a:active,
ul.menu li li a:focus {
	background: none;
	color: #00A9DD;
}

ul.menu li li.active a {
	color: #00A9DD;
	font-weight: bold;
}

ul.menu li li li a {
	color: #666666 !important;
	font-weight: normal !important;
	padding-left: 38px !important;
	background: url(../images/bullet.gif) no-repeat 30px 14px #FFFFCC !important;
}

ul.menu li li li.active a {
	font-weight: bold !important;
}

/* SPOTLIGHT
--------------------------------------------------------- */
/* Spotlight Box Style */
.ja-box-full, .ja-box-left, .ja-box-center, .ja-box-right {
	float: left;
	overflow: hidden;
}

.ja-box-left, .ja-box-center {
	background: url(../images/dot.gif) repeat-y right;
}

/* Top spotlight */
#ja-topsl1 {
	position: relative;
	height: 290px;
	margin-left: 1px;
	border-bottom: 1px solid #E6E6E6;
}
#ja-topsl9{
	position: relative;
	height: 374px;
	margin-left: 1px;
	border-bottom: 1px solid #E6E6E6;
}

#ja-topsl2, #ja-topsl3 {
	margin-left: 1px;
}

#ja-topsl2 div.moduletable h3, #ja-topsl3 div.moduletable h3 {
	background: #F7F7F7;
	color: #666666;
	margin-left: -15px;
}
#ja-topsl2 .about {
		font-family: "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif;
		line-height: 1.7;
		font-size:16px;
		margin:10px;
		text-align:justify;
		color:#000;
}
#ja-topsl3 table {
	padding: 0;
	margin: 0;
}

#ja-topsl3 td {
	padding: 15px 0;
	margin: 0;
}

#ja-topsl3 tr {
	background: url(../images/dot-h.gif) repeat-x bottom;
}

/* Bottom spotlight */
#ja-botsl {
	position: relative;
	border-top: 1px solid #E6E6E6;
	margin-left: 1px;
	clear: both;
	background: #F7F7F7;
}

#ja-botsl div.moduletable {
	position: relative;
	border: none;
	padding: 15px;
}

#ja-botsl div.moduletable h3 {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	font-size: 100%;
}

/* FOOTER
--------------------------------------------------------- */
#ja-footerwrap {
	position: relative;
	clear: both;
	background: url(../images/main-br.gif) no-repeat bottom right #333333;
}

#ja-footer {
	background: url(../images/main-bl.gif) no-repeat bottom left;
	color: #666666;
	text-transform: uppercase;
	font-size: 92%;
}

#ja-footer small {
	color: #666666;
	font-size: 100%;
	padding: 10px 10px 10px 20px;
}

#ja-footer ul {
	margin: 0;
	padding: 0 10px 5px 10px;
	line-height: normal;
}

#ja-footer li {
	display: inline;
	margin: 0;
	padding: 0;
	background: url(../images/vline.gif) no-repeat center left;
}

#ja-footer li a {
	display: inline;
	line-height: normal;
	padding: 0 10px;
}

li.ja-firstitem {
	background: none !important;
}

#ja-footer a {
	color: #999999;
	text-decoration: none;
}

#ja-footer a:hover, #ja-footer a:active, #ja-footer a:focus {
	color: #FFFFFF;
}

div.sublogo {
	width: 192px;
	float: left;
}

div.sublogo a {
	font-size: 200%;
	display: block;
	text-align: center;
	background: url(../images/logo-sub.png) no-repeat right  ;
	width: 150px;
	height: 70px;
	text-indent: -5000px;
	position: relative;
	left: 10px;
	}

.narrow div.sublogo a {
	width: 140px;
	height: 70px;
}

div.copyright {
	width: 832px;
	padding: 20px 0;
	float: right;
	background: url(../images/dot-dark.gif) repeat-y left;
}

div.foot-rss {
	position: absolute;
	top: 30px;
	right: 20px;
}

div.foot-rss img {
	vertical-align: middle;
}

/* MISCELLANOUS
----------------------------------------------------------- */
ul.accessibility {
	position: absolute;
	top: -100%;
}

/* Login */
#form-login p {
	margin: 0 0 5px;
}

#form-login ul {
	margin: 5px 0 0;
}

#modlgn_username, #modlgn_passwd {
	width: 90%;
}

/* Search */
#ja-search {
	float: left;
	width: 180px;
	height: 35px;
	background: url(../images/icon-search.png) no-repeat 5px 0  ;
	overflow: hidden;
}

.narrow #ja-search {
	width: 150px;
}

#ja-search .inputbox {
	padding: 10px 0 0 30px;
	background: none;
	border: none;
	font-weight: bold;
	color: #CCCCCC;
}

/*others*/
#ja-banner {
	padding: 20px 0 0;
	text-align: center;
	overflow: hidden;
	width: 100%;
	clear: both;
}

div.back_button a,
div.back_button a:hover,
div.back_button a:active {
	background: none!important;
	display: block;
	margin: 10px 0;
	text-decoration: none!important;
}

.clr {
	clear: both;
}

.hasTip img {
	border: none;
	margin: 10px 5px 0 0;
}

div.ja-innerdiv {
	padding: 6px 0 7px;
	background: url(../images/dot-h.gif) repeat-x bottom;
}

div.ja-innerdiv img {
	padding: 0;
	margin: 0;
}

/* Tooltips */
.tool-tip {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	float: left;
	max-width: 200px;
	padding: 5px;
	z-index: 999;
	color: #333333;
}

.tool-title {
	background: url(../../system/images/selector-arrow.png) no-repeat  ;
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	margin-top: -15px;
	padding: 0;
	padding-bottom: 5px;
	padding-top: 15px;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
	margin: 0;
	padding: 0;
}

#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
	background: none;
	color: #FFFFFF;
	margin: 0;
	padding: 5px;
}

/* System Standard Messages */
#system-message dd.message ul {
	background: #666666;
	border: none;
}

/* System Error Messages */
#system-message dd.error ul {
	background: #666666;
	border: none;
}

/* System Notice Messages */
#system-message dd.notice ul {
	background: #666666;
	border: none;
}

/* Clearfix */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	display: block;
	width: 100%;
}

* html .clearfix {
	height: 1%;
}


div.moduletable_menuhilite h3 {
	 
	text-align:center;
	
}
 





/* all menu links */
#nav a, #subMenusContainer a{
	text-decoration:none;
	display:block;
	padding:6px 15px;
	background-color:#fff ;
	background: url(../images/arrow.png) no-repeat 92% 14px;
	
}

/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#nav a{
	margin:0;
	
}

/* Just sub menu links */
#subMenusContainer a, #nav li li a{
	 
	text-align:left;
}

/* All menu links on hover or focus */
#nav a:hover, #nav a:focus, #subMenusContainer a:hover, #subMenusContainer a:focus, #nav a.mainMenuParentBtnFocused, #subMenusContainer a.subMenuParentBtnFocused{
	
	background-color:#f9f8f6 ;
	color:#0aaee1;
}

/* sub menu links on hover or focus */
#subMenusContainer a:hover, 
#subMenusContainer a:focus, 
#nav a.mainMenuParentBtnFocused, 
#subMenusContainer a.subMenuParentBtnFocused,
#nav li a:hover,
#nav li a:focus{
	background-color:#f9f8f6 ;
	color:#0aaee1;
}
  
.smOW{ 
	display:none; 
	position: absolute; 
	overflow:hidden; 
	/*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
	padding:0 2px;
	margin:0 0 0 -2px;
}

 
#nav ol, #nav ul, #subMenusContainer ul, #subMenusContainer ol {	
	/*border around submenu goes here*/
	background:#fff;	
	border:1px solid #474844; 
	left:0;
}

/* All ULs and OLs */
#nav, #nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}

/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#nav li { 
	/*great place to use a background image as a divider*/
	display:block;
	list-style:none;
	position:relative;
	border-bottom:1px solid #c0c0be;
	top: 2px;
	left: 0px;
}

#subMenusContainer li{
	list-style: none;
}

/* main menu ul or ol elment */
#nav{
	display:block;
	position: absolute;
	list-style:none;
	margin:0 0 0 0px;
	width:190px;
	z-index:5;
	text-align: left;
	display:block;
	color:#000;
	 
}

#subMenusContainer{	display:block; 	position:absolute;	top:0;	left:0;	width:200px;	height:0;	overflow:visible;	z-index:1000000000; }


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#nav li li{	float:none; width:195px;}

#nav li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
}

#nav li ul { /* second-level lists */
	position: absolute;
	width: 200px;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

/* third-and-above-level lists */
#nav li ul ul { margin: -1em 0 0 -1000em; }
#nav li:hover ul ul {	margin-left: -1000em; }

 /* lists nested under hovered list items */
#nav li:hover ul{	margin-left: 190px; margin-top:-2.5em;}
#nav li li:hover ul {	margin-left: 10em; }

/* extra positioning rules for limited noscript keyboard accessibility */
#nav li a:focus + ul {  margin-left:190px; margin-top:-2.5em; }
#nav li li a:focus + ul { left:190px; margin-left: 1010em; margin-top:-2.5em;}
#nav li li a:focus {left:190px;  margin-left:1000em; width:10em;  margin-top:-2.5em;}
#nav li li li a:focus {left:190px; margin-left: 2010em; width: 10em;  margin-top:-2.5em;}
#nav li:hover a:focus{
	margin-left: 0px;
}
#nav li li:hover a:focus + ul { margin-left: 10em; }

#content_slider{float:left;outline:0;width:830px; height:290px;}

 

#customer {
	position:absolute;
	left:757px;
	top:45px;
	width:100px;
	height:23px;
	float:right; 
	color:#031f28;
	font-weight:bold;
	font-size:12px;
	 text-align:center;
}

 	
#register {
	position:absolute;
	left:757px;
	top:65px;
	width:100px;
	height:23px;
	float:right; 
	color:#e9ebec;
	font-weight:bold;
	font-size:12px;
	background-color:#00a9dd;
	text-align:center;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top:5px;		
}

 
#update {
	position:absolute;
	left:360px;
	top:1px; 
	height:95px;
	float:right;
	color:#141516;
	font-weight:bold;
	font-size:12px;
	border:2px solid #efefef;
	text-align:center;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	z-index:1;
		
}
	
 	 

 	 .headers_and_data
   {
	width: 375px;
   font-size:12px;
   font-weight:bold;}


  td.col_0
    {width: 97px}

  td.col_1
    {width: 96px}

  td.col_2
    {width: 98px; 
	color:#F00;}

  td.col_3
    {width: 71px;
	color:#09C;}

 
  
#ja-login{
	width: 832px;
	float: right;
	clear: both;
	height:1400px;
}


.productlist	{
	width:180px;
	margin:4px;
	
	background-color:#FFF;
	height:270px; 
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;	 
	-webkit-box-shadow: 2px 2px 5px #ccc;
	-moz-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc;
	display:inline-block;
	
}

#producttitle {
	width:180px;
	height:35px;
	border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	background: #05b3f7; /* old browsers */
    
	background: -moz-linear-gradient(top, #05b3f7 0%, #37c7f4 30%, #63d8f2 55%, #50d1f3 75%, #16b9f6 100%); /* firefox */
		
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05b3f7), color-stop(30%,#37c7f4), color-stop(55%,#63d8f2), color-stop(75%,#50d1f3), color-stop(100%,#16b9f6)); /* webkit */
		
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05b3f7', endColorstr='#8899b5',GradientType=0 );
  
	font:15px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; line-height:34px; font-weight:bold; color:#FFF; text-align:center;
}

#productdetails  {
	padding:5px 10px 5px 0px;	
}

#productdetails img {
	border:0;
	font:12px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; font-weight:bold; color:#000; text-align:center;
	padding:5px 10px 0px 20px;
 	
}
#productdetails p {
	border:0;
	font:12px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; font-weight:bold; color:#000; text-align:center;
	padding:0px 5px 0px 5px;
 	
}

#productdetails span {
	color:#F00;
	font:12px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; font-weight:bold; text-align:center;
 	
}




.smarthomeshop	{
	width:180px;
	margin:5px;  
	background-color:#FFF;
	height:210px; 
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;	 
	-webkit-box-shadow: 2px 2px 5px #ccc;
	-moz-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc;
	display:inline-block;
}

#homeshoptitle {
	width:180px;
	height:30px;
	border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	background: #05b3f7; /* old browsers */
    
	background: -moz-linear-gradient(top, #7c7e7e 0%, #a7a9ab 30%, #c8ccce 55%, #a0a3a3 75%, #848686 100%); /* firefox */
		
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7e7e), color-stop(30%,#a7a9ab), color-stop(55%,#c8ccce), color-stop(75%,#a0a3a3), color-stop(100%,#848686)); /* webkit */
		
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7e7e', endColorstr='#848686',GradientType=0 );
  
	font:15px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; line-height:34px; font-weight:bold; color:#FFF; text-align:center;
}

 
#homeshopdetails p {
	border:0;
	font:12px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; font-weight:bold; color:#000; text-align:center;
	padding:0px 3px 0px 3px;
 	
}

 
 
.branches	{
	width:180px;
	margin:5px;  
	background-color:#FFF;
	height:210px; 
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;	 
	-webkit-box-shadow: 2px 2px 5px #ccc;
	-moz-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc;
	display:inline-block;
}

#branchtitle{
	width:180px;
	height:30px;
	border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	background: #05b3f7; /* old browsers */
    
	background: -moz-linear-gradient(top, #393a3a 0%, #727272 30%, #a2a2a3 55%, #525252 75%, #424443 100%); /* firefox */
		
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#393a3a), color-stop(30%,#727272), color-stop(55%,#a2a2a3), color-stop(75%,#525252), color-stop(100%,#424443)); /* webkit */
		
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393a3a', endColorstr='#424443',GradientType=0 );
  
	font:15px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; line-height:34px; font-weight:bold; color:#FFF; text-align:center;
}

 
#branchdetails p {
	border:0;
	font:12px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; font-weight:bold; color:#000; text-align:center;
	padding:0px 3px 0px 3px;
 	
}
 #devlier p {
	border:0;
	font:18px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; font-weight:bold; color:#000; text-align:left;
	padding:0px 10px 0px 10px;
 	
}


.productlist1	{
	width:480px;
	margin:4px;
	
	background-color:#FFF;
	height:470px; 
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;	 
	-webkit-box-shadow: 2px 2px 5px #ccc;
	-moz-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc;
	display:inline-block;
	
}

#producttitle1 {
	width:480px;
	height:35px;
	border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	background: #05b3f7; /* old browsers */
    
	background: -moz-linear-gradient(top, #05b3f7 0%, #37c7f4 30%, #63d8f2 55%, #50d1f3 75%, #16b9f6 100%); /* firefox */
		
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05b3f7), color-stop(30%,#37c7f4), color-stop(55%,#63d8f2), color-stop(75%,#50d1f3), color-stop(100%,#16b9f6)); /* webkit */
		
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05b3f7', endColorstr='#8899b5',GradientType=0 );
  
	font:15px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; line-height:34px; font-weight:bold; color:#FFF; text-align:center;
}

#productdetails1  {
	padding:5px 10px 5px 0px;	
}

#productdetails1 img {
	border:0;
	font:12px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; font-weight:bold; color:#000; text-align:center;
	padding:5px 10px 0px 20px;
 	
}
#productdetails1 p {
	border:0;
	font:12px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; font-weight:bold; color:#000; text-align:center;
	padding:0px 5px 0px 5px;
 	
}

#productdetails1 span {
	color:#F00;
	font:12px "Segoe UI", "Lucida Grande", Tahoma, Arial, sans-serif; font-weight:bold; text-align:center;
 	
}


