﻿<%@ Page Language="C#" MasterPageFile="~/UserMaster.Master" AutoEventWireup="true" CodeBehind="Bankers.aspx.cs" Inherits="MyAccounts20.Bankers" Title="Bankers" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="ja-topsl2">
        
        <div class="moduletable_menuhilite">
            <table><tr><td style="width:80px"></td><td></td></tr><tr><td>
            
            <h3 style="font-size:xx-large;">
                BANKERS</h3>
            <div id="devlier">
                <%--<p>--%>
                <table style="font-size:medium; font-weight:bold;" >
                <tr>
                <td >
                 Name      : Smart Choice Consumer Services Pvt.Limited
                </td>
                </tr>
                <tr><td>
               <%-- </p>
                <p>--%>
                 Bank Name : State Bank Of India,Sripuram Branch,Hyderabad
                </td></tr>
             <%--   </p>
                <p>--%>
                <tr><td>
                 Account No: 31747517882
                </td></tr>
                <tr><td>
              <%--  </p>
                <p>--%>
                 IFSC Code : SBIN0060339
                </td></tr> 
                </td></tr></table></div>
            </div>
        </div>    
</asp:Content>
