﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="IFrame.aspx.cs" Inherits="MyAccounts20.IFrame" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>IFrame</title>

    <script type="text/javascript" language="javascript">
//    function submit()
//    {
//    document.form2.submit();
//    }
////     function GetFileName(val)
////     {
////       var i = val.lastIndexOf("\\");
////        return val.substring(i+1);
////       
////     }
     function submitform()
     {
        //window.form2.submit();
        document.forms[0].submit();
     }
     
    </script>

</head>
<body style="margin: 0px 0px 0px 0px;">
    <form id="form2" runat="server">
    <asp:FileUpload ID="FileUpload1" runat="server" onchange="submitform();" Width="130px" />
    <input type="hidden" runat="server" id="hidAlbumID" />
    </form>
</body>
</html>
