﻿<%@ Page Language="C#" MasterPageFile="~/UserMaster2.Master" AutoEventWireup="true" CodeBehind="Index2.aspx.cs" Inherits="MyAccounts20.Index2" Title="Index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <script src="JS/Commonfunctions.js" type="text/javascript"></script>

    <script src="JS/Listing.js" type="text/javascript"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div id="main">
<div class="main1">
<div style="margin-bottom:10px;"><img src="MasterPageFiles2/images/banner.jpg" width="700" height="285"></div>
<div id="divItemDet" runat="server"></div>

<%--<div>
<div class="salwar">
<div class="totalsalwar"><span style="padding:0px 0px 0px 8px;">Groceries</span></div>
<div class="viewmore"><a href="listing.html">View More</a></div>
</div>
<div class="product1">
<div class="product1_1">
<div class="product_midd">
<span class="kws_off">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>15.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img2.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img3.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img5.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>

</div>

</div>
<div>
<div class="salwar">
<div class="totalsalwar"><span style="padding:0px 0px 0px 8px;">Veg &amp; Fruits</span></div>
<div class="viewmore"><a href="listing.html">View More</a></div>
</div>
<div class="product1">
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>15.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img2.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img3.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img5.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>

</div>

</div>
<div>
<div class="salwar">
<div class="totalsalwar"><span style="padding:0px 0px 0px 8px;">Foods</span></div>
<div class="viewmore"><a href="listing.html">View More</a></div>
</div>
<div class="product1">
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>15.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img2.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img5.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img3.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>



</div>

</div>
<div>
<div class="salwar">
<div class="totalsalwar"><span style="padding:0px 0px 0px 8px;">Personnel Care</span></div>
<div class="viewmore"><a href="listing.html">View More</a></div>
</div>
<div class="product1">
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>15.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img2.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img5.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img3.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>



</div>

</div>
<div>
<div class="salwar">
<div class="totalsalwar"><span style="padding:0px 0px 0px 8px;">General</span></div>
<div class="viewmore"><a href="listing.html">View More</a></div>
</div>
<div class="product1">
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img3.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>15.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img2.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>

<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img5.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>
<div class="product1_1">
<div class="product_midd">
<span class="kws_off"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>5.00%</td>
  </tr>
  <tr>
    <td>Off</td>
  </tr>
</tbody></table>
 </span>
<img src="MasterPageFiles2/images/img.jpg" width="100" height="100" style="vertical-align:middle; position:relative; z-index:-1;">
</div>
<div class="item_code">
<h2>Cabbage Local.</h2>
<span>ItemCode :<span style="padding-left:3px;">322</span></span><br />
<span><del>MRP <span class="WebRupee" style="color:#000 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></del></span><br />
<span style="color:#1570a2; padding-left:3px;">Our Price <span class="WebRupee" style="color:#1570a2 !important;">Rs.</span><span style="padding-left:3px;">399.00</span></span>


</div>
<div class="product_bottom">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td width="40%"><input type="button" value="Details" class="add1"></td>
    <td width="28%" align="center" class="qty">Qty<br /><input type="text" class="input" ;=""></td>

    <td width="40%" align="right"><input type="button" value="Add to Cart" class="add"></td>
  </tr>
</tbody></table>

</div>
</div>



</div>

</div>--%>



</div>

<div class="cart_main">
<div class="cart">
<div class="mycart"><span>My Cart</span> <img src="MasterPageFiles2/images/c.png" width="55" height="42" border="0"></div>
<div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="gvShopingCart" runat="server">
  <tbody><tr>
    <td width="134" height="25" class="product_heading">Item Name</td>
    <td width="5"></td>
    <td width="44" class="product_heading">Price</td>
    <td width="1"></td>
    <td width="31" class="product_heading">Qty</td>
    <td width="1"></td>
    <td width="72" class="product_heading">Amount</td>
<td width="1"></td>
    <td width="28" class="product_heading"></td>
  </tr>

  
 <tr>
    <td colspan="5" class="product_totle">Total <span class="WebRupee" style="color:#000 !important;">Rs.</span><span>:</span></td>
    <td></td>
    <td colspan="2" class="product_item_totle"><asp:Label ID="lblTotal" runat="server" Width="70px" Text="0.00"></asp:Label></td>
    <td></td>
    </tr>
  <tr>
    <td colspan="5" class="product_totle">Delivery Charges <span class="WebRupee" style="color:#000 !important;">Rs.</span><span>:</span></td>
    <td></td>
    <td colspan="2" class="product_item_totle"><asp:Label ID="lblDCharges" runat="server" Width="70px" Text="0.00"></asp:Label></td>
      <td></td>
    </tr>
  <tr>
    <td colspan="5" class="product_totle">Grand Total <span class="WebRupee" style="color:#000 !important;">Rs.</span><span>:</span></td>
    <td></td>
    <td colspan="2" class="product_item_totle"><asp:Label ID="lblGrand" runat="server" Width="70px" Text="0.00"></asp:Label></td>
      <td></td>
    </tr>
    <tr><td colspan="6" height="10"></td></tr>
  
    <tr>
     <td colspan="3"></td>
    <td colspan="6" height="23" class="checkout"><a href="#"><asp:Label ID="lblCheckOut" runat="server" Width="70px" Text="Check Out" OnClientClick="return CheckOutValidation();"></asp:Label></a></td>
   
    </tr>
  
  
  
  
</tbody></table></div>

</div>

<div class="off"><img src="MasterPageFiles2/images/41.gif" width="290" height="290"></div>
<div class="off"><img src="MasterPageFiles2/images/delivery.gif" width="290" height="116"></div>
<div class="off"><img src="MasterPageFiles2/images/cardon.png" width="290" height="119"></div>
<div class="off"><img src="MasterPageFiles2/images/coupon.png" width="290" height="248"></div>
<div class="cart">

<div class="add_bg">
<div style="height:40px; margin-bottom:30px; padding:0px;">
<div class="add_safe_text">Secure &amp; Safe<br />Transactions</div>
<div class="add_safe_text1">100% secure online transactions<br />
<strong>256 BIT SSL ENCRYPTION</strong></div>
</div>
<div style=" margin:0px; padding:0px;">
<div class="add_safe_text_rs">Inorder to protect your card from fraudulent transactions we might redirect you to a partner site, that will verify your card information, before we proceed with the order-payment.<br /><br />Inorder to protect your card from fraudulent transactions we might redirect you to a partner site, that will verify your card information, before we proceed with the order-payment.</div>
</div>

</div>

</div>


</div>






</div>
</asp:Content>
