﻿<%@ Page Language="C#" MasterPageFile="~/UserMaster.Master" AutoEventWireup="true"
    CodeBehind="listing.aspx.cs" Inherits="MyAccounts20.listing" Title="Listing" %>

<%@ Register Src="~/DataListPager.ascx" TagName="Pager" TagPrefix="DataList" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <%--<script src="JS/ShoppingCart.js" type="text/javascript"></script>--%>

    <script src="JS/Commonfunctions.js" type="text/javascript"></script>

    <script src="JS/Listing.js" type="text/javascript"></script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="main1" align="left">
        <div align="left">
            <div class="salwar">
                <div class="totalsalwar" align="left">
                    <span style="padding: 0px 0px 0px 8px; text-align:left">
                        <asp:Label ID="lblHeadGroup" runat="server" Style="text-align: left"></asp:Label></span></div>
                <div class="listview" align="left">
                   <a href="listingview.aspx">ListView</a></div>
                <div class="gridview" align="left">
                    <a href="listing.aspx">GridView</a></div>
            </div>
        </div>
        <%-- <asp:GridView ID="gvItemDet" runat="server" AllowPaging="true" PageSize="20" ></asp:GridView>--%>
        <asp:DataList ID="dlItemDet" runat="server" RepeatColumns="4" CellPadding="0" CellSpacing="0">
            <ItemTemplate>
                <%-- <asp:Repeater ID="rpItemDet" runat="server"></asp:Repeater>--%>
                <div class="product1" align="left">
                    <div class="product1_1">
                        <div class="product_midd">
                            <span class="kws_off">
                                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <asp:Label ID="lblPer" runat="server" Text='<%#Eval("Percentage") %>'></asp:Label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Off
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                            <img src="ItemImages/<%#Eval("SiNo")%>.jpg" width="100" height="100" style="vertical-align: middle;
                                position: relative; z-index: -1;" />
                        </div>
                        <div class="item_code">
                            <h2>
                                <asp:Label ID="lblItemName" runat="server" Text='<%#Eval("Description") %>'></asp:Label>
                            </h2>
                            <span style="padding-left: 3px;">ItemCode : </span><span>
                                <asp:Label ID="lblItemCode" runat="server" Text='<%#Eval("ItemCode") %>'></asp:Label>
                            </span>
                            <br />
                            <span><del>MRP <span class="WebRupee" style="color: #000 !important;">Rs.</span><span
                                style="padding-left: 3px;"><asp:Label ID="lblMrp" runat="server" Text='<%#Eval("MRP") %>'></asp:Label>
                            </span></del></span>
                            <br />
                            <span style="color: #1570a2; padding-left: 3px;">Our Price <span class="WebRupee"
                                style="color: #1570a2 !important;">Rs.</span><span style="padding-left: 3px;"><asp:Label
                                    ID="lblPrice" runat="server" Text='<%#Eval("OSP") %>'></asp:Label>
                                </span></span>
                            <input type="hidden" value="<%#Eval("BatchNo")%>" id="hidBat<%#Eval("SiNo")%>" style="display: none;">
                        </div>
                        <div class="product_bottom">
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td width="40%">
                                            <input type="button" value="Details" class="add1">
                                        </td>
                                        <td width="28%" align="center" class="qty">
                                            Qty<br />
                                            <input type="text" class="input" id="<%#Eval("SiNo")%>txtQty" runat="server" value=""
                                                maxlength="3" style="text-align: center; width: 30px;" />
                                        </td>
                                        <td width="40%" align="right">
                                            <input type="button" value="Add to Cart" onclick="AddToCart(this)" id="<%#Eval("SiNo")%>btnAdd"
                                                class="add">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ItemTemplate>
        </asp:DataList>
        <table align="center">
            <tr>
                <td>
                    <DataList:Pager ID="dlPager" runat="server" OnPageIndexChanged="dlPager_PageIndexChagned" />
                   
                    
                </td>
            </tr>
        </table>
    </div>
    <div>
        <input type="hidden" id="hidUserID" runat="server" />
        <input type="hidden" id="hidTempID" runat="server" />
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    <div class="cart_main">
        <div class="cart">
            <div class="mycart" align="left">
                <span>My Cart</span>
                <img src="MasterPageFiles2/images/c.png" width="55" height="42" border="0" /></div>
            <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="gvShopingCart"
                    runat="server">
                    <tbody>
                        <tr>
                            <td width="134" height="25" class="product_heading">
                                Item Name
                            </td>
                            <td width="5">
                            </td>
                            <td width="44" class="product_heading">
                                Price
                            </td>
                            <td width="1">
                            </td>
                            <td width="31" class="product_heading">
                                Qty
                            </td>
                            <td width="1">
                            </td>
                            <td width="72" class="product_heading">
                                Amount
                            </td>
                            <td width="1">
                            </td>
                            <td width="28" class="product_heading">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" height="10">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="5" class="product_totle">
                            Total <span class="WebRupee" style="color: #000 !important;">Rs.</span><span>:</span>
                        </td>
                        <td>
                        </td>
                        <td colspan="2" class="product_item_totle">
                            <asp:Label ID="lblTotal" runat="server" Width="70px" Text="0.00"></asp:Label>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="product_totle">
                            Delivery Charges <span class="WebRupee" style="color: #000 !important;">Rs.</span><span>:</span>
                        </td>
                        <td>
                        </td>
                        <td colspan="2" class="product_item_totle">
                            <asp:Label ID="lblDCharges" runat="server" Width="70px" Text="0.00"></asp:Label>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="product_totle">
                            Grand Total <span class="WebRupee" style="color: #000 !important;">Rs.</span><span>:</span>
                        </td>
                        <td>
                        </td>
                        <td colspan="2" class="product_item_totle">
                            <asp:Label ID="lblGrand" runat="server" Width="70px" Text="0.00"></asp:Label>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                        </td>
                        <td align="right">
                            <a href="#">
                                <asp:ImageButton ID="btnCheckOut" runat="server" Width="107" Height="32" ImageUrl="MasterPageFiles/bottom-rigth.jpg"
                                    OnClick="btnCheckOut_Click" OnClientClick="return CheckOutValidation();"></asp:ImageButton>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="off">
            <img src="MasterPageFiles2/images/41.gif" width="290" height="290"></div>
        <div class="off">
            <img src="MasterPageFiles2/images/delivery.gif" width="290" height="116"></div>
        <div class="off">
            <img src="MasterPageFiles2/images/cardon.png" width="290" height="119"></div>
        <div class="off">
            <img src="MasterPageFiles2/images/coupon.png" width="290" height="248"></div>
        <div class="cart">
            <div class="add_bg">
                <div style="height: 40px; margin-bottom: 30px; padding: 0px;">
                    <div class="add_safe_text">
                        Secure &amp; Safe<br />
                        Transactions</div>
                    <div class="add_safe_text1">
                        100% secure online transactions<br />
                        <strong>256 BIT SSL ENCRYPTION</strong></div>
                </div>
                <div style="margin: 0px; padding: 0px;">
                    <div class="add_safe_text_rs">
                        Inorder to protect your card from fraudulent transactions we might redirect you
                        to a partner site, that will verify your card information, before we proceed with
                        the order-payment.<br />
                        <br />
                        Inorder to protect your card from fraudulent transactions we might redirect you
                        to a partner site, that will verify your card information, before we proceed with
                        the order-payment.</div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
