﻿<%@ Page Language="C#" MasterPageFile="~/MyAccounts20.Master" AutoEventWireup="true" CodeBehind="SMSMaster.aspx.cs" Inherits="MyAccounts20.SMSMaster" Title="SMS Master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
        <table align="center">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    Message :
                </td>
                <td>
                    <asp:TextBox ID="txtMessage" runat="server" Width="500px"></asp:TextBox>
                </td>
                <td>
                    <asp:Button ID="btnOk" runat="server" Text="OK" onclick="btnOk_Click"/>
                </td>
            </tr>
        </table>
    </div>
</asp:Content>
